.article-thumbnail {
  width: 200px;
  height: 200px;
}

.show-header span {
  font-size: 4em;
}

.home-logo {
  width: 900px;
  height: 300px;
}

.headshot {
  width: 290px;
  height: 250px;
  object-fit: cover;
}

.nav-bar-logo {
  width: 60px
}

.nav-bar-title {
  font-size: 3em;

  background-color: #000;
  color: #FFFFFF;
}

.nav-bar {
  vertical-align: top;
}

.filter {
  margin: auto;
  text-align: center;
}

.timeline-Header {
  display: none;
}

.slider {
  width: 100%
}